<app-layout>

  <div *ngIf="userLogin.isLogged">
    <div class="row">       
         <div class="col-md-2 align-middle text-right">Hola <strong>{{userLogin.username}}</strong></div>       
         <div class="col-md-2 align-middle text-left"><a href="#" class="btn btn-primary btn-rounded btn-sm" 
                 (click)="cerrarSesion(userLogin)">Cerrar Sesi&oacute;n</a></div>
         <div *ngIf="errorToShow" class="alert alert-warning col-md-8 text-left">{{errorToShow}}</div>          
    </div>   
    <br>    
    <div class="row">
      <div class="col-md-4">
          <form (ngSubmit)="crearTarea(userLogin)" #f="ngForm">        
              <div class="form-group">
                <label for="titulo">
                  Titulo ({{ titulo?.value?.length }})
                </label>
                <input #titulo="ngModel"
                       required minlength="5"
                       [(ngModel)]="newTarea.titulo"
                       class="form-control"
                       type="text"                     
                       name="titulo"
                       (focus)="deseleccionarTareas()"/>
              </div>
              <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched) && (titulo.value.length > 0)"
                class="alert alert-danger">
                El titulo debe tener largo mayor a 5 caracteres
              </div>
              
              <div class="form-group">
                <label for="descripcion">
                  Descripcion ({{ descripcion?.value?.length }})
                </label>
                <textarea #descripcion="ngModel"
                          required minlength="10" maxlength="100"
                          [(ngModel)]="newTarea.descripcion"
                          class="form-control"
                          name="descripcion"></textarea>
              </div>
              <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched) && (descripcion.value.length > 0)"
                class="alert alert-danger">
                La descripcion debe tener entre 10 y 100 caracteres
              </div>
              <div class="form-group">
                <label for="place">
                  Lugar de la tarea (Opcional)
                </label>  
                <div style="height: 300px;"
                leaflet 
                [leafletOptions]="options"
                (leafletClick)="mapClick($event)"
                [leafletLayers]="markers"
                >
              </div>
            </div>
              <button [disabled]="f.invalid"
                      type="submit"
                      class="btn btn-primary">
                      Crear Tarea
              </button>
            </form>
  
             
  
      </div>
  
      <div class="col-md-8">
          <table class="table">
            <tr>
              <th>#</th>
              <th>T&iacute;tulo</th>
              <th>Inicio</th>
              <th>T&eacute;rmino</th>
              <th>Estado</th>
            </tr>
            <tr *ngFor="let t of tareas;"
              [class.selected]="t === tareaSeleccionada || t === tareaParaModificar">
              <td>{{ t.id }}</td>
              <td>
                  <a  href="#" (click)="seleccionarTarea(t)">{{ t.titulo }}</a>
              </td>
              <td>{{ t.fecha_inicio  | date : 'dd/MM/yyyy' : 'UTC' }}</td>
              <td>{{ t.fecha_termino | date : 'dd/MM/yyyy' : 'UTC' }}</td>
              <td>{{ t.nombre_estado }}</td>                    
              <td>
                  <a  href="#" (click)="seleccionarTareaModificar(t)">Editar</a>
              </td>
            </tr>
          </table>
          <a 
          href="#"
          (click)="mostrarMapaGeo()"
          class="btn btn-primary">
          Ver Tareas Georeferenciadas
        </a>

        </div>
    </div>
  
    <hr>  
    <div *ngIf="mostrarMapa"
    class="col-md-8">
    <div style="height: 400px; width: 600px"
      leaflet 
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
      [leafletLayers]="markers2"
      >
  </div>
  </div>
    <div *ngIf="tareaSeleccionada"
         class="col-md-8">
  
      <div [ngSwitch]="tareaSeleccionada.estado">
        
          <app-tarea-creada
            *ngSwitchCase="estadoTareas.Creada"
            [tarea]="tareaSeleccionada"
            (tareaActualizada)="siguienteEstadoTarea($event)">
          </app-tarea-creada>
  
          <app-tarea-en-proceso
            *ngSwitchCase="estadoTareas.EnProceso"
            [tarea]="tareaSeleccionada"
            (tareaActualizada)="siguienteEstadoTarea($event)">
          </app-tarea-en-proceso>
  
          <app-tarea-terminada
            *ngSwitchCase="estadoTareas.Terminada"
            [tarea]="tareaSeleccionada"
            (tareaActualizada)="siguienteEstadoTarea($event)">
          </app-tarea-terminada>
  
      </div>
    </div> 
  
    <br>
  
    <div *ngIf="tareaParaModificar" class="col-md-12" >
      <app-modificar-tarea 
         [tarea]="tareaParaModificar"
         [userLogin]="userLogin">        
      </app-modificar-tarea>
    </div> 
    
    <div class="mt-5">
      <hr>
    </div>
    
  </div>
  
    <div *ngIf="!userLogin.isLogged">    
      <form (ngSubmit)="iniciarSesion(userLogin)" >
      <div class="form-group">
        <label for="username">Usuario</label>
        <input [(ngModel)]="userLogin.username" class="form-control" type="text" name="username"/>
      </div>
  
      <div class="form-group">
      <label for="password">Contraseña</label>
      <input [(ngModel)]="userLogin.password" class="form-control" type="password" name="password"/>
  
      </div>
  
      <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
  
      </form>
      <div>&nbsp;</div>
      <div *ngIf="errorToShow" class="alert alert-warning col-md-12 text-left">{{errorToShow}}</div>
    </div>
  
  </app-layout>
  
  
  