        <div *ngIf="errorToShow" class="alert alert-warning col-md-12 text-left">{{errorToShow}}</div>
        <form (ngSubmit)="modificarTarea()" #fmt="ngForm">        
            <div class="form-group">
              <label for="titulo">
                Titulo ({{ titulo?.value?.length }})
              </label>
              <input #titulo="ngModel"
                     required minlength="5"
                     [(ngModel)]="tarea.titulo"
                     class="form-control col-md-5"
                     type="text"                     
                     name="titulo"
                     onfocus="window.scrollTo(0, document.body.scrollHeight);"/>
            </div>
            <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
              class="alert alert-danger">
              El titulo debe tener largo mayor a 5 caracteres
            </div>
            
            <div class="form-group">
              <label for="descripcion">
                Descripcion ({{ descripcion?.value?.length }})
              </label>
              <textarea #descripcion="ngModel"
                        required minlength="10" maxlength="100"
                        [(ngModel)]="tarea.descripcion"
                        class="form-control col-md-5"
                        name="descripcion"></textarea>
            </div>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
              class="alert alert-danger">
              La descripcion debe tener entre 10 y 100 caracteres
            </div>

            <div class="row align-middle">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <label for="Fecha Inicio Tarea">
                    Fecha Inicio Tarea:&nbsp; 
                </label>
                <input type="date" class="form-control col-md-3" [ngModel]="tarea.fecha_inicio | date:'yyyy-MM-dd'" 
                        (ngModelChange)="tarea.fecha_inicio = $event" [value]="tarea.fecha_inicio | date:'yyyy-MM-dd'" 
                        #fecha_inicio="ngModel" placeholder="yyyy-MM-dd" name="tarea.fecha_inicio"/>
                <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>        
                <label for="Fecha Termino Tarea">
                    Fecha T&eacute;rmino Tarea:&nbsp; 
                </label>
                <input type="date" class="form-control col-md-3" [ngModel]="tarea.fecha_termino | date:'yyyy-MM-dd'" 
                        (ngModelChange)="tarea.fecha_termino = $event" [value]="tarea.fecha_termino | date:'yyyy-MM-dd'" 
                        #fecha_inicio="ngModel" placeholder="yyyy-MM-dd" name="tarea.fecha_termino"/>              
                </div>            
            <div>&nbsp;</div>
            <button [disabled]="fmt.invalid"
                    type="submit"
                    class="btn btn-primary">
                    Modificar Tarea
            </button>
          </form>    